<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SupportAlerter.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
        <add name="SupportAlerter.Properties.Settings.AccountDatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database\AccountDatabase.sdf" providerName="Microsoft.SqlServerCe.Client.4.0"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
